<header>
    <a routerLink="/home"><img id="logo" src="assets/images/logo.png"></a>
    <div id="slogan">
        <h1>My Blog
        </h1>
        <h2>for my daily thoughts...
        </h2>
    </div>
</header>
<nav>
    <span class="toggle_menu" (click)="toggleMenu()">{{ menuIcon }}</span>
    <ul class="menu">
        <li><a href="http://haohu.pythonanywhere.com/blog/#html">文档</a>
        </li>
        <li><a href="http://haohu.pythonanywhere.com/blog/#css">样式</a>
        </li>
        <li><a href="http://haohu.pythonanywhere.com/blog/#javascript">操作</a>
        </li>
        <li><a href="http://haohu.pythonanywhere.com/blog/#frameworks">框架</a>
        </li>
        <li><a href="http://haohu.pythonanywhere.com/blog/#performance">优化</a>
        </li>
        <li>
            <a href="http://haohu.pythonanywhere.com/blog/#courses">课程</a>
            <div class="caret"></div>
            <ul class="submenu">
                <li><a href="http://haohu.pythonanywhere.com/blog/#courses_html">HTML</a>
                </li>
                <li><a href="http://haohu.pythonanywhere.com/blog/#courses_javascript">JavaScript</a>
                </li>
                <li><a href="http://haohu.pythonanywhere.com/blog/#courses_css">CSS</a>
                </li>
            </ul>
        </li>
        <li><a routerLink="/about">联系</a>
        </li>
    </ul>
</nav>