.ads {
    box-shadow: 2px 2px 1px #888888;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

.ads>ul {
    padding: 5px;
    margin: 10px;
}

@media all and (max-width: 640px) {
    .ads ul li {
        display: inline-block;
        margin-right: 10px;
    }
}