<div id="main">
    <div id="content">
        <app-onearticle *ngFor="let article of articles" [article]="article"></app-onearticle>
        <div id="pager">
            <a (click)="pageDecr()" id="prev_page" *ngIf="page!=1">&lt;</a>
            <span id="curr_page">{{page}}/{{totalPages}}</span>
            <a (click)="pageIncr()" id="next_page" *ngIf="page!=totalPages">&gt;</a>
        </div>
    </div>
    <aside>
        <app-news></app-news>
        <app-links></app-links>
    </aside>
</div>